<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <% if session[:user_id] %>
  <%= button_to "Logout", logout_path %>
  <% end %>
</html>
