<%= form_for [@event, @task] do |f|  %>
Name: <%= f.text_field :name %><br>
Description: <%= f.text_area :description %><br>
Assign to: <select class ="btn-group" name="user_id">
  <% @users.each do |user| %>
  <option value="<%= user.id %>" >
  <%= user.name %> </option>
  <% end %>
</select><br>
<%= f.submit "Create" %>
<% end %>
