<%= @user.name %><br>
<%= @user.email %><br>
<%= @user.phone_number %><br>

<ul><% @user.events.each do |event| %>
	<li><%= link_to event.name, event_path(event) %></li>
<% end %></ul>

<ul><% @user.tasks.each do |task| %>
	<h5><% task.find_event(task.event_id) %></h5>
	<li><%= task.name %></li>
<% end %></ul>