
<h4>Dear <%= @user.name || "Fellow Oddter" %>,</h4>
<p>
  You have been invited to <%= @event.name %> by <%= @host.name %>.<br>
</p>
<p>
  Please RSVP here: <%= @url %>
</p>
<p>XOXO,</p>
<p>Your Significant Oddter ♥</p>
<% if @new_user %>
  <p>Welcome to ODDter, you have been invited by <%= @host.name %> to join our community. Please log in using the credentials below:
  </p>
  <p>Email: <%= @user.email%></p>
  <p>Password: <%= @user.password %></p>
<% end %>
