<%= @events.each do |event| %>
<h4>Event: <%= event.name %></h4>
Starts at: <%= event.date_format(event.start_date)%><br>
Ends at: <%= event.date_format(event.end_date)%><br>
Address: <%= event.address %>
<% end %>
