<!-- nav bar -->
<nav class="navbar navbar-light" style="background-color: transparent; font-family: Quicksand;">
  <form class="form-inline float-xs-left">
    <a class="btn btn-outline-info" href="<%= root_path %>" role="button" >ODDTER</a>
  </form>
  <form class="form-inline float-xs-right">
    <a class="btn btn-secondary" href="<%= user_path(@user) %>" role="button" >Home</a>
    <a class="btn btn-secondary" href="<%= edit_user_path(@user) %>" role="button">Update Account</a>
    <a class="btn btn-secondary" href="<%= logout_path %>" role="button" >Log Out</a>
  </form>
</nav>
<!-- nav bar -->

<div class="container" style="padding-top:40px; font-family: Quicksand;">
  <h1>Create an Event</h1><br>
<!-- errors -->
  <% if @event.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@event.errors.count, "error") %>prohibited this event from being saved:</h4>
    <ul><% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %></ul>
  </div>
  <% end %>
<!-- errors  -->
  <div class="form-group row">
    <%= form_for @event do |f| %>
    <label class="col-xs-2 col-form-label">Name:</label>
    <div class="col-xs-10">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Starts at:</label>
    <div class="col-xs-10">
      <%= f.datetime_local_field :start_date, min: Time.zone.today%></div>
    </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Ends at:</label>
    <div class="col-xs-10">
      <%= f.datetime_local_field :end_date, min: Time.zone.today %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Address:</label>
    <div class="col-xs-10">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label"> Description:</label>
    <div class="col-xs-10">
      <%= f.text_area :description %>
    </div><br><br>
    <div class="col-xs-10">
      <button class="btn btn-secondary" type=<%= f.submit %> Create Event </button>
  </div>
  <% end %>
</div>
