<h4>Event: <%= @event.name %></h4>
Starts at: <%= @event.date_format(@event.start_date)%><br>
Ends at: <%= @event.date_format(@event.end_date)%><br>
Address: <%= @event.address %>

<%= button_to "Create Task", new_event_task_path(@event.id), :method => 'get'  %>

<h4> Attendees: </h4>
<ul><% @event.users.each do |user| %>
	<%= user.name %>
<% end %></ul>

<% if @tasks%>
	<% @tasks.each do |task| %>
<div>
	<%= task.find_user %> -
	<%= task.description %><br>
	<% end %>
</div>
<% end %>
