<div class="container-fluid">
<nav class="navbar navbar-light" style="background-color: transparent; font-family: Quicksand;">
  <form class="form-inline float-xs-left">
    <a class="btn btn-outline-info" href="<%= root_path %>" role="button" >ODDTER</a> &nbsp;
  </form>
  <form class="form-inline float-xs-right">
    <a class="btn btn-secondary" href="<%= user_path(@user) %>" role="button" >Home</a>
    <a class="btn btn-secondary" href="<%= new_event_path %>" role="button">Create an Event</a>
      <% if @host.id == @user.id %>
    <a class="btn btn-secondary" href="<%= edit_event_path %>" role="button" >Update Event</a>
      <% end %>
    <a class="btn btn-secondary" href="<%= events_path %>" role="button">Dashboard</a>
    <a class="btn btn-secondary" href="<%= logout_path %>" role="button" >Log Out</a>
  </form>
  <form action='/yelp' method='get'class="form-inline float-xs-left">
    <input class="form-control" type="text" name ="city" placeholder="City, Zip Code">
    <button class="btn btn-outline-danger" type="submit">Yelp it!</button> &nbsp;
  </form>
</nav>

<div class="row no-gutter" style="font-family: Quicksand;">
  <div class="col-md-8">
    <div class="col-md-8" style="padding-top:50px;  padding-left:50px;">

    <h4><%= @event.name %></h4>
    <% if EventsUser.find_by(event_id: @event.id, user_id: @user.id) %>
      Hosted by: <%= @host.name %><br>
    	Starts at: <%= @event.date_format(@event.start_date)%><br>
    	Ends at: <%= @event.date_format(@event.end_date)%><br>
    	Address: <%= @event.address %><br><br>

      <% if @user.id == @event.host %>
          <h5> Invite Guests: </h5>
          <%= form_tag(invite_event_path(@event)) do |f| %>
            <%= text_field_tag 'email' %>
            <%= hidden_field_tag 'event_id', @event.id %>
            <%= check_box_tag 'new_user' %> new user
            <%= submit_tag 'Invite', class: ["btn btn-secondary btn-sm"] %>
          <% end %>
        <% end %>
<br>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
<br>
        <% if @tasks%>
        <h4><strong>Tasks</strong></h4>
          <% if @user.id == @event.host %>
            <%= button_to "Create Task", new_event_task_path(@event.id), :method => 'get', class: ["btn btn-secondary btn-sm"]%>
          <% end %><br>
          <% @tasks.each do |task| %>
            <% if task.complete != true %>
              <%= task.find_user %>:
              <%= task.name %><br>
                <% if @user.id == task.id %>
                <%= button_to "Mark Complete", complete_path, params: {id: task.id}, class: ["btn btn-outline-success btn-sm"]%>
                <% end %><br>
            <% else %>
              <del><%= task.find_user %>:
              <%= task.description %></del><br>
            <% end %>
          <% end %>
        <% end %><br>

    <div class="col-md-3" style="padding-left:0px">
      <h5> Attending: (<%= @accepted.length %>)</h5>
          <% @accepted.each do |user| %>
            <li style="list-style: none;"><%= user.name %>
            <% if user.id == @event.host %>
              (host)
            <% end %>
            </li>
          <% end %>
    </div>

    <div class="col-md-7">
      <h5> Invited: (<%= @pending.length %>)</h5>
        <% @pending.each do |user| %>
          <li style="list-style: none;"><%= user.name == "Fellow Oddter" ? user.email : user.name %></li>
      <% end %>
    </div>

    <div class="col-md-2">
      <h5> Declined: (<%= @declined.length %>)</h5>
        <% @declined.each do |user| %>
              <%= user.name %>
            <% end %>
    </div>
    <% end %>
   </div>
  </div>

  <div class="col-md-4"  style="padding-top:50px;">
      <iframe
        width="400"
        height="350"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA--uheO2WQTcl384FK72cshjJYn7cwRHE
        &q=<%=@event.address%>" allowfullscreen>
      </iframe>
  </div>
</div>
</div>
<br><br><br>
